:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;

  --text-primary: #303030;
  --text-secondary: #9da4bd;
  --text-primary-lighten: #555555;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-primary-lighten);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  border: 2px solid tomato;
}

a {
  text-decoration: none;
}

.suptitle-secondary,
.suptitle-primary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle-primary {
  color: var(--text-primary);
}

.suptitle-secondary {
  color: rgba(157, 164, 189, 0.6);
}

h2.section-title {
  color: var(--text-primary);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
}

h2.section-title.lighten {
  color: teal;
}

/* Hero */

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-description {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Navbar */

nav.navbar {
}

.nav-links li {
  display: inline-block;
}

a.nav-link {
  color: teal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

a.nav-link:hover,
.social-link:hover {
  color: var(--primary-color);
}

.btn-box {
  display: inline-block;
}
.phone-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: teal;
}

.primary-button {
  border-radius: 25px;
  border: 1px solid #ff6c00;
  color: teal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.primary-button.darken {
  color: var(--text-primary);
}

/* Sidebar */
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-primary);
}

p.section-description {
  color: var(--text-primary-lighten);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.social-link {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
}
/* Price section */
.price-list {
  display: inline-block;
}

.price-list .text,
.price-list .price {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--text-secondary);
}
.price-list .price {
  text-align: right;
}

/* Why section */
.number-box {
  display: inline-block;
  width: 170px;
  height: 132px;
  background-color: #f7f7f7;
}

.number-box .text {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--text-primary);
}
.number-box span {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-primary);
}
/* Master card */
.master {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}
.position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

/* Footer */

.address {
  font-style: normal;
}
.contacts-box,
.schedule-box .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}
.contacts-box a {
  color: var(--text-secondary);
}

.copy-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-secondary);
}
